*.keras
model.png
submission*.zip
model.py
images/*.jpg
images_augmented/*.jpg
keras_overlays/*.png
keras_overlays_augmented/*.png
__pycache__
training_set.npz

# LaTeX files
report/main.pdf
report/main.aux
report/main.log
report/main.out
report/main.bbl
report/main.blg
report/main.dvi