*.keras
model.png
submission*.zip
model.py
images/*.jpg
images_augmented/*.jpg
__pycache__
training_set.npz
keras_overlays/*png
keras_overlays_augmented/*png

# LaTeX files
report/main.pdf
report/main.aux
report/main.log
report/main.out